@model SHARE.Entities.Sensor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sensores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.API)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.API)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Envio_Siempre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Envio_Siempre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frecuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frecuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Sensor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Sensor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehiculoRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehiculoRef)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
