@model IEnumerable<SHARE.Entities.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona_Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona_Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RUT }) |
            @Html.ActionLink("Details", "Details", new { id = item.RUT }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RUT })
        </td>
    </tr>
}

</table>
